# Node and environment
node_modules/
.env
.env.*
.DS_Store

# Build artifacts
/dist/
/build/
/.next/
/coverage/
/.vite/
/.turbo/
/.parcel-cache/

# API envs
api/.env
api/.env.example

# Client envs
client/.env
client/.env.local
client/.env.*.local