service: pawpals-api

frameworkVersion: '4'

provider:
  name: aws
  runtime: nodejs20.x
  region: us-east-1
  memorySize: 512
  timeout: 30

  httpApi:
    cors:
      allowedOrigins:
        - https://main.d3d605coiesa90.amplifyapp.com
        - http://localhost:5173
      allowedMethods:
        - GET
        - POST
        - PUT
        - PATCH
        - DELETE
        - OPTIONS
      allowedHeaders:
        - Content-Type
        - Authorization
        - X-Requested-With
        - Accept
        - Origin
      allowCredentials: true

  environment:
    SECRETS_ID: PawPals/api/prod

  iam:
    role:
      statements:
        - Effect: Allow
          Action:
            - secretsmanager:GetSecretValue
          Resource:
            - arn:aws:secretsmanager:us-east-1:255491289361:secret:PawPals/api/prod*

functions:
  api:
    handler: src/lambda.handler
    events:
      - httpApi:
          method: ANY
          path: /{proxy+}

package:
  individually: false
  include:
    - docs/OpenAPI.yaml
